@import "styles/utils/Utils.module.scss";

.navItem {
  display: inline-block;
  font-size: pxToRem(20);
  position: relative;
}

.navLink {
  color: #000000;
  &:hover {
    text-decoration: underline;
  }
}

.list {
  width: pxToRem(500);
  justify-content: space-between;
}
