@import "styles/utils/Utils.module.scss";

.image {
  width: pxToRem(80);
  height: pxToRem(80);
}

.iconClose {
  color: #c0c0c0;
  width: pxToRem(20);
  height: pxToRem(20);
}

.container {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 5px;
  margin-bottom: 5px;

  &:first-child {
    padding-top: 5px;
    border-top: 1px solid #e1e1e1;
  }
}

.counterColumn {
  width: pxToRem(60);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.multiplyColumn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.descriptionColumn {
  padding: 0 pxToRem(10);
}