@import "styles/utils/Utils.module.scss";

.footer {
  background: #000000;
  color: #aeaeae;
  min-height: 100px;
  padding: 20px;
}

.contactIcon {
  width: pxToRem(20);
}

.contactLink {
  &:hover {
    color: #ffffff;
  }
}


.socialIcon {
  color: #aeaeae;
  width: pxToRem(30);
  &:hover {
    color: #ffffff;
  }
}

.secondaryText {
  color: #4c4c4c;
}

.strong {
  color: #6e3e3e;
}


.ofertaLink {
  color: #aeaeae;
  text-decoration: none;

  &:hover {
    color: #ffffff;
  }
}

.ofertaIcon {
  width: 20px;
}

.phoneSupportIcon {
  width: 16px;
}
